// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$add-lead-name: 'add_lead';
$add-lead-x: 349px;
$add-lead-y: 254px;
$add-lead-offset-x: -349px;
$add-lead-offset-y: -254px;
$add-lead-width: 41px;
$add-lead-height: 42px;
$add-lead-total-width: 512px;
$add-lead-total-height: 472px;
$add-lead-image: '~sprite.png';
$add-lead: (349px, 254px, -349px, -254px, 41px, 42px, 512px, 472px, '~sprite.png', 'add_lead', );
$biaoshuxinxi-name: 'biaoshuxinxi';
$biaoshuxinxi-x: 484px;
$biaoshuxinxi-y: 0px;
$biaoshuxinxi-offset-x: -484px;
$biaoshuxinxi-offset-y: 0px;
$biaoshuxinxi-width: 28px;
$biaoshuxinxi-height: 32px;
$biaoshuxinxi-total-width: 512px;
$biaoshuxinxi-total-height: 472px;
$biaoshuxinxi-image: '~sprite.png';
$biaoshuxinxi: (484px, 0px, -484px, 0px, 28px, 32px, 512px, 472px, '~sprite.png', 'biaoshuxinxi', );
$cancel-order-name: 'cancel-order';
$cancel-order-x: 181px;
$cancel-order-y: 374px;
$cancel-order-offset-x: -181px;
$cancel-order-offset-y: -374px;
$cancel-order-width: 36px;
$cancel-order-height: 36px;
$cancel-order-total-width: 512px;
$cancel-order-total-height: 472px;
$cancel-order-image: '~sprite.png';
$cancel-order: (181px, 374px, -181px, -374px, 36px, 36px, 512px, 472px, '~sprite.png', 'cancel-order', );
$cangkuxinxi-name: 'cangkuxinxi';
$cangkuxinxi-x: 44px;
$cangkuxinxi-y: 422px;
$cangkuxinxi-offset-x: -44px;
$cangkuxinxi-offset-y: -422px;
$cangkuxinxi-width: 33px;
$cangkuxinxi-height: 32px;
$cangkuxinxi-total-width: 512px;
$cangkuxinxi-total-height: 472px;
$cangkuxinxi-image: '~sprite.png';
$cangkuxinxi: (44px, 422px, -44px, -422px, 33px, 32px, 512px, 472px, '~sprite.png', 'cangkuxinxi', );
$cart-icon-name: 'cart-icon';
$cart-icon-x: 408px;
$cart-icon-y: 211px;
$cart-icon-offset-x: -408px;
$cart-icon-offset-y: -211px;
$cart-icon-width: 68px;
$cart-icon-height: 50px;
$cart-icon-total-width: 512px;
$cart-icon-total-height: 472px;
$cart-icon-image: '~sprite.png';
$cart-icon: (408px, 211px, -408px, -211px, 68px, 50px, 512px, 472px, '~sprite.png', 'cart-icon', );
$cart-icon2-name: 'cart-icon2';
$cart-icon2-x: 408px;
$cart-icon2-y: 261px;
$cart-icon2-offset-x: -408px;
$cart-icon2-offset-y: -261px;
$cart-icon2-width: 68px;
$cart-icon2-height: 50px;
$cart-icon2-total-width: 512px;
$cart-icon2-total-height: 472px;
$cart-icon2-image: '~sprite.png';
$cart-icon2: (408px, 261px, -408px, -261px, 68px, 50px, 512px, 472px, '~sprite.png', 'cart-icon2', );
$curday-name: 'curday';
$curday-x: 170px;
$curday-y: 204px;
$curday-offset-x: -170px;
$curday-offset-y: -204px;
$curday-width: 100px;
$curday-height: 108px;
$curday-total-width: 512px;
$curday-total-height: 472px;
$curday-image: '~sprite.png';
$curday: (170px, 204px, -170px, -204px, 100px, 108px, 512px, 472px, '~sprite.png', 'curday', );
$detail-driver-name: 'detail-driver';
$detail-driver-x: 423px;
$detail-driver-y: 374px;
$detail-driver-offset-x: -423px;
$detail-driver-offset-y: -374px;
$detail-driver-width: 34px;
$detail-driver-height: 34px;
$detail-driver-total-width: 512px;
$detail-driver-total-height: 472px;
$detail-driver-image: '~sprite.png';
$detail-driver: (423px, 374px, -423px, -374px, 34px, 34px, 512px, 472px, '~sprite.png', 'detail-driver', );
$detail-evaluate-name: 'detail-evaluate';
$detail-evaluate-x: 287px;
$detail-evaluate-y: 374px;
$detail-evaluate-offset-x: -287px;
$detail-evaluate-offset-y: -374px;
$detail-evaluate-width: 34px;
$detail-evaluate-height: 34px;
$detail-evaluate-total-width: 512px;
$detail-evaluate-total-height: 472px;
$detail-evaluate-image: '~sprite.png';
$detail-evaluate: (287px, 374px, -287px, -374px, 34px, 34px, 512px, 472px, '~sprite.png', 'detail-evaluate', );
$detail-expir-name: 'detail-expir';
$detail-expir-x: 484px;
$detail-expir-y: 144px;
$detail-expir-offset-x: -484px;
$detail-expir-offset-y: -144px;
$detail-expir-width: 26px;
$detail-expir-height: 26px;
$detail-expir-total-width: 512px;
$detail-expir-total-height: 472px;
$detail-expir-image: '~sprite.png';
$detail-expir: (484px, 144px, -484px, -144px, 26px, 26px, 512px, 472px, '~sprite.png', 'detail-expir', );
$detail-info-name: 'detail-info';
$detail-info-x: 253px;
$detail-info-y: 374px;
$detail-info-offset-x: -253px;
$detail-info-offset-y: -374px;
$detail-info-width: 34px;
$detail-info-height: 34px;
$detail-info-total-width: 512px;
$detail-info-total-height: 472px;
$detail-info-image: '~sprite.png';
$detail-info: (253px, 374px, -253px, -374px, 34px, 34px, 512px, 472px, '~sprite.png', 'detail-info', );
$dingdzhuangt-name: 'dingdzhuangt';
$dingdzhuangt-x: 107px;
$dingdzhuangt-y: 422px;
$dingdzhuangt-offset-x: -107px;
$dingdzhuangt-offset-y: -422px;
$dingdzhuangt-width: 32px;
$dingdzhuangt-height: 29px;
$dingdzhuangt-total-width: 512px;
$dingdzhuangt-total-height: 472px;
$dingdzhuangt-image: '~sprite.png';
$dingdzhuangt: (107px, 422px, -107px, -422px, 32px, 29px, 512px, 472px, '~sprite.png', 'dingdzhuangt', );
$dispatch-driver-name: 'dispatch-driver';
$dispatch-driver-x: 217px;
$dispatch-driver-y: 374px;
$dispatch-driver-offset-x: -217px;
$dispatch-driver-offset-y: -374px;
$dispatch-driver-width: 36px;
$dispatch-driver-height: 34px;
$dispatch-driver-total-width: 512px;
$dispatch-driver-total-height: 472px;
$dispatch-driver-image: '~sprite.png';
$dispatch-driver: (217px, 374px, -217px, -374px, 36px, 34px, 512px, 472px, '~sprite.png', 'dispatch-driver', );
$lead-record-name: 'lead_record';
$lead-record-x: 484px;
$lead-record-y: 32px;
$lead-record-offset-x: -484px;
$lead-record-offset-y: -32px;
$lead-record-width: 28px;
$lead-record-height: 32px;
$lead-record-total-width: 512px;
$lead-record-total-height: 472px;
$lead-record-image: '~sprite.png';
$lead-record: (484px, 32px, -484px, -32px, 28px, 32px, 512px, 472px, '~sprite.png', 'lead_record', );
$loading-image-png-mini-name: 'loading-image-png-mini';
$loading-image-png-mini-x: 408px;
$loading-image-png-mini-y: 0px;
$loading-image-png-mini-offset-x: -408px;
$loading-image-png-mini-offset-y: 0px;
$loading-image-png-mini-width: 76px;
$loading-image-png-mini-height: 79px;
$loading-image-png-mini-total-width: 512px;
$loading-image-png-mini-total-height: 472px;
$loading-image-png-mini-image: '~sprite.png';
$loading-image-png-mini: (408px, 0px, -408px, 0px, 76px, 79px, 512px, 472px, '~sprite.png', 'loading-image-png-mini', );
$loading-image-png-name: 'loading-image-png';
$loading-image-png-x: 270px;
$loading-image-png-y: 204px;
$loading-image-png-offset-x: -270px;
$loading-image-png-offset-y: -204px;
$loading-image-png-width: 79px;
$loading-image-png-height: 95px;
$loading-image-png-total-width: 512px;
$loading-image-png-total-height: 472px;
$loading-image-png-image: '~sprite.png';
$loading-image-png: (270px, 204px, -270px, -204px, 79px, 95px, 512px, 472px, '~sprite.png', 'loading-image-png', );
$logo-name: 'logo';
$logo-x: 0px;
$logo-y: 204px;
$logo-offset-x: 0px;
$logo-offset-y: -204px;
$logo-width: 170px;
$logo-height: 170px;
$logo-total-width: 512px;
$logo-total-height: 472px;
$logo-image: '~sprite.png';
$logo: (0px, 204px, 0px, -204px, 170px, 170px, 512px, 472px, '~sprite.png', 'logo', );
$message-name: 'message';
$message-x: 204px;
$message-y: 0px;
$message-offset-x: -204px;
$message-offset-y: 0px;
$message-width: 204px;
$message-height: 204px;
$message-total-width: 512px;
$message-total-height: 472px;
$message-image: '~sprite.png';
$message: (204px, 0px, -204px, 0px, 204px, 204px, 512px, 472px, '~sprite.png', 'message', );
$n-cart-icon-name: 'nCart-icon';
$n-cart-icon-x: 408px;
$n-cart-icon-y: 311px;
$n-cart-icon-offset-x: -408px;
$n-cart-icon-offset-y: -311px;
$n-cart-icon-width: 59px;
$n-cart-icon-height: 50px;
$n-cart-icon-total-width: 512px;
$n-cart-icon-total-height: 472px;
$n-cart-icon-image: '~sprite.png';
$n-cart-icon: (408px, 311px, -408px, -311px, 59px, 50px, 512px, 472px, '~sprite.png', 'nCart-icon', );
$n-cart-icon0-name: 'nCart-icon0';
$n-cart-icon0-x: 349px;
$n-cart-icon0-y: 204px;
$n-cart-icon0-offset-x: -349px;
$n-cart-icon0-offset-y: -204px;
$n-cart-icon0-width: 59px;
$n-cart-icon0-height: 50px;
$n-cart-icon0-total-width: 512px;
$n-cart-icon0-total-height: 472px;
$n-cart-icon0-image: '~sprite.png';
$n-cart-icon0: (349px, 204px, -349px, -204px, 59px, 50px, 512px, 472px, '~sprite.png', 'nCart-icon0', );
$p-arrange-name: 'p-arrange';
$p-arrange-x: 96px;
$p-arrange-y: 374px;
$p-arrange-offset-x: -96px;
$p-arrange-offset-y: -374px;
$p-arrange-width: 48px;
$p-arrange-height: 48px;
$p-arrange-total-width: 512px;
$p-arrange-total-height: 472px;
$p-arrange-image: '~sprite.png';
$p-arrange: (96px, 374px, -96px, -374px, 48px, 48px, 512px, 472px, '~sprite.png', 'p-arrange', );
$p-comment-name: 'p-comment';
$p-comment-x: 48px;
$p-comment-y: 374px;
$p-comment-offset-x: -48px;
$p-comment-offset-y: -374px;
$p-comment-width: 48px;
$p-comment-height: 48px;
$p-comment-total-width: 512px;
$p-comment-total-height: 472px;
$p-comment-image: '~sprite.png';
$p-comment: (48px, 374px, -48px, -374px, 48px, 48px, 512px, 472px, '~sprite.png', 'p-comment', );
$p-date-end-name: 'p-date_end';
$p-date-end-x: 314px;
$p-date-end-y: 312px;
$p-date-end-offset-x: -314px;
$p-date-end-offset-y: -312px;
$p-date-end-width: 48px;
$p-date-end-height: 48px;
$p-date-end-total-width: 512px;
$p-date-end-total-height: 472px;
$p-date-end-image: '~sprite.png';
$p-date-end: (314px, 312px, -314px, -312px, 48px, 48px, 512px, 472px, '~sprite.png', 'p-date_end', );
$p-date-start-name: 'p-date_start';
$p-date-start-x: 0px;
$p-date-start-y: 374px;
$p-date-start-offset-x: 0px;
$p-date-start-offset-y: -374px;
$p-date-start-width: 48px;
$p-date-start-height: 48px;
$p-date-start-total-width: 512px;
$p-date-start-total-height: 472px;
$p-date-start-image: '~sprite.png';
$p-date-start: (0px, 374px, 0px, -374px, 48px, 48px, 512px, 472px, '~sprite.png', 'p-date_start', );
$p-goods-type-name: 'p-goods_type';
$p-goods-type-x: 170px;
$p-goods-type-y: 312px;
$p-goods-type-offset-x: -170px;
$p-goods-type-offset-y: -312px;
$p-goods-type-width: 48px;
$p-goods-type-height: 48px;
$p-goods-type-total-width: 512px;
$p-goods-type-total-height: 472px;
$p-goods-type-image: '~sprite.png';
$p-goods-type: (170px, 312px, -170px, -312px, 48px, 48px, 512px, 472px, '~sprite.png', 'p-goods_type', );
$p-qita-name: 'p-qita';
$p-qita-x: 266px;
$p-qita-y: 312px;
$p-qita-offset-x: -266px;
$p-qita-offset-y: -312px;
$p-qita-width: 48px;
$p-qita-height: 48px;
$p-qita-total-width: 512px;
$p-qita-total-height: 472px;
$p-qita-image: '~sprite.png';
$p-qita: (266px, 312px, -266px, -312px, 48px, 48px, 512px, 472px, '~sprite.png', 'p-qita', );
$p-store-name-name: 'p-store_name';
$p-store-name-x: 218px;
$p-store-name-y: 312px;
$p-store-name-offset-x: -218px;
$p-store-name-offset-y: -312px;
$p-store-name-width: 48px;
$p-store-name-height: 48px;
$p-store-name-total-width: 512px;
$p-store-name-total-height: 472px;
$p-store-name-image: '~sprite.png';
$p-store-name: (218px, 312px, -218px, -312px, 48px, 48px, 512px, 472px, '~sprite.png', 'p-store_name', );
$p-tag-name: 'p-tag';
$p-tag-x: 484px;
$p-tag-y: 170px;
$p-tag-offset-x: -484px;
$p-tag-offset-y: -170px;
$p-tag-width: 24px;
$p-tag-height: 24px;
$p-tag-total-width: 512px;
$p-tag-total-height: 472px;
$p-tag-image: '~sprite.png';
$p-tag: (484px, 170px, -484px, -170px, 24px, 24px, 512px, 472px, '~sprite.png', 'p-tag', );
$search-lead-name: 'search_lead';
$search-lead-x: 144px;
$search-lead-y: 374px;
$search-lead-offset-x: -144px;
$search-lead-offset-y: -374px;
$search-lead-width: 37px;
$search-lead-height: 36px;
$search-lead-total-width: 512px;
$search-lead-total-height: 472px;
$search-lead-image: '~sprite.png';
$search-lead: (144px, 374px, -144px, -374px, 37px, 36px, 512px, 472px, '~sprite.png', 'search_lead', );
$search-list-name: 'search_list';
$search-list-x: 484px;
$search-list-y: 64px;
$search-list-offset-x: -484px;
$search-list-offset-y: -64px;
$search-list-width: 27px;
$search-list-height: 27px;
$search-list-total-width: 512px;
$search-list-total-height: 472px;
$search-list-image: '~sprite.png';
$search-list: (484px, 64px, -484px, -64px, 27px, 27px, 512px, 472px, '~sprite.png', 'search_list', );
$shaixuan-sel-2x-name: 'shaixuan-sel@2x';
$shaixuan-sel-2x-x: 355px;
$shaixuan-sel-2x-y: 374px;
$shaixuan-sel-2x-offset-x: -355px;
$shaixuan-sel-2x-offset-y: -374px;
$shaixuan-sel-2x-width: 34px;
$shaixuan-sel-2x-height: 34px;
$shaixuan-sel-2x-total-width: 512px;
$shaixuan-sel-2x-total-height: 472px;
$shaixuan-sel-2x-image: '~sprite.png';
$shaixuan-sel-2x: (355px, 374px, -355px, -374px, 34px, 34px, 512px, 472px, '~sprite.png', 'shaixuan-sel@2x', );
$shaixuan-2x-name: 'shaixuan@2x';
$shaixuan-2x-x: 389px;
$shaixuan-2x-y: 374px;
$shaixuan-2x-offset-x: -389px;
$shaixuan-2x-offset-y: -374px;
$shaixuan-2x-width: 34px;
$shaixuan-2x-height: 34px;
$shaixuan-2x-total-width: 512px;
$shaixuan-2x-total-height: 472px;
$shaixuan-2x-image: '~sprite.png';
$shaixuan-2x: (389px, 374px, -389px, -374px, 34px, 34px, 512px, 472px, '~sprite.png', 'shaixuan@2x', );
$sousuo-xiao-2x-name: 'sousuo-xiao@2x';
$sousuo-xiao-2x-x: 484px;
$sousuo-xiao-2x-y: 91px;
$sousuo-xiao-2x-offset-x: -484px;
$sousuo-xiao-2x-offset-y: -91px;
$sousuo-xiao-2x-width: 27px;
$sousuo-xiao-2x-height: 27px;
$sousuo-xiao-2x-total-width: 512px;
$sousuo-xiao-2x-total-height: 472px;
$sousuo-xiao-2x-image: '~sprite.png';
$sousuo-xiao-2x: (484px, 91px, -484px, -91px, 27px, 27px, 512px, 472px, '~sprite.png', 'sousuo-xiao@2x', );
$sousuo-2x-name: 'sousuo@2x';
$sousuo-2x-x: 321px;
$sousuo-2x-y: 374px;
$sousuo-2x-offset-x: -321px;
$sousuo-2x-offset-y: -374px;
$sousuo-2x-width: 34px;
$sousuo-2x-height: 34px;
$sousuo-2x-total-width: 512px;
$sousuo-2x-total-height: 472px;
$sousuo-2x-image: '~sprite.png';
$sousuo-2x: (321px, 374px, -321px, -374px, 34px, 34px, 512px, 472px, '~sprite.png', 'sousuo@2x', );
$star-active-name: 'star-active';
$star-active-x: 484px;
$star-active-y: 214px;
$star-active-offset-x: -484px;
$star-active-offset-y: -214px;
$star-active-width: 20px;
$star-active-height: 20px;
$star-active-total-width: 512px;
$star-active-total-height: 472px;
$star-active-image: '~sprite.png';
$star-active: (484px, 214px, -484px, -214px, 20px, 20px, 512px, 472px, '~sprite.png', 'star-active', );
$star-name: 'star';
$star-x: 484px;
$star-y: 194px;
$star-offset-x: -484px;
$star-offset-y: -194px;
$star-width: 20px;
$star-height: 20px;
$star-total-width: 512px;
$star-total-height: 472px;
$star-image: '~sprite.png';
$star: (484px, 194px, -484px, -194px, 20px, 20px, 512px, 472px, '~sprite.png', 'star', );
$store-name: 'store';
$store-x: 484px;
$store-y: 118px;
$store-offset-x: -484px;
$store-offset-y: -118px;
$store-width: 26px;
$store-height: 26px;
$store-total-width: 512px;
$store-total-height: 472px;
$store-image: '~sprite.png';
$store: (484px, 118px, -484px, -118px, 26px, 26px, 512px, 472px, '~sprite.png', 'store', );
$sujixinxi-name: 'sujixinxi';
$sujixinxi-x: 77px;
$sujixinxi-y: 422px;
$sujixinxi-offset-x: -77px;
$sujixinxi-offset-y: -422px;
$sujixinxi-width: 30px;
$sujixinxi-height: 32px;
$sujixinxi-total-width: 512px;
$sujixinxi-total-height: 472px;
$sujixinxi-image: '~sprite.png';
$sujixinxi: (77px, 422px, -77px, -422px, 30px, 32px, 512px, 472px, '~sprite.png', 'sujixinxi', );
$tel-active-name: 'tel-active';
$tel-active-x: 408px;
$tel-active-y: 79px;
$tel-active-offset-x: -408px;
$tel-active-offset-y: -79px;
$tel-active-width: 66px;
$tel-active-height: 66px;
$tel-active-total-width: 512px;
$tel-active-total-height: 472px;
$tel-active-image: '~sprite.png';
$tel-active: (408px, 79px, -408px, -79px, 66px, 66px, 512px, 472px, '~sprite.png', 'tel-active', );
$tel-name: 'tel';
$tel-x: 408px;
$tel-y: 145px;
$tel-offset-x: -408px;
$tel-offset-y: -145px;
$tel-width: 66px;
$tel-height: 66px;
$tel-total-width: 512px;
$tel-total-height: 472px;
$tel-image: '~sprite.png';
$tel: (408px, 145px, -408px, -145px, 66px, 66px, 512px, 472px, '~sprite.png', 'tel', );
$tip-name: 'tip';
$tip-x: 0px;
$tip-y: 0px;
$tip-offset-x: 0px;
$tip-offset-y: 0px;
$tip-width: 204px;
$tip-height: 204px;
$tip-total-width: 512px;
$tip-total-height: 472px;
$tip-image: '~sprite.png';
$tip: (0px, 0px, 0px, 0px, 204px, 204px, 512px, 472px, '~sprite.png', 'tip', );
$tousu-2x-name: 'tousu@2x';
$tousu-2x-x: 362px;
$tousu-2x-y: 312px;
$tousu-2x-offset-x: -362px;
$tousu-2x-offset-y: -312px;
$tousu-2x-width: 43px;
$tousu-2x-height: 40px;
$tousu-2x-total-width: 512px;
$tousu-2x-total-height: 472px;
$tousu-2x-image: '~sprite.png';
$tousu-2x: (362px, 312px, -362px, -312px, 43px, 40px, 512px, 472px, '~sprite.png', 'tousu@2x', );
$wushun-2x-name: 'wushun@2x';
$wushun-2x-x: 0px;
$wushun-2x-y: 422px;
$wushun-2x-offset-x: 0px;
$wushun-2x-offset-y: -422px;
$wushun-2x-width: 44px;
$wushun-2x-height: 50px;
$wushun-2x-total-width: 512px;
$wushun-2x-total-height: 472px;
$wushun-2x-image: '~sprite.png';
$wushun-2x: (0px, 422px, 0px, -422px, 44px, 50px, 512px, 472px, '~sprite.png', 'wushun@2x', );
$xiugaijiage2x-name: 'xiugaijiage2x';
$xiugaijiage2x-x: 170px;
$xiugaijiage2x-y: 360px;
$xiugaijiage2x-offset-x: -170px;
$xiugaijiage2x-offset-y: -360px;
$xiugaijiage2x-width: 61px;
$xiugaijiage2x-height: 14px;
$xiugaijiage2x-total-width: 512px;
$xiugaijiage2x-total-height: 472px;
$xiugaijiage2x-image: '~sprite.png';
$xiugaijiage2x: (170px, 360px, -170px, -360px, 61px, 14px, 512px, 472px, '~sprite.png', 'xiugaijiage2x', );
$spritesheet-width: 512px;
$spritesheet-height: 472px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($add-lead, $biaoshuxinxi, $cancel-order, $cangkuxinxi, $cart-icon, $cart-icon2, $curday, $detail-driver, $detail-evaluate, $detail-expir, $detail-info, $dingdzhuangt, $dispatch-driver, $lead-record, $loading-image-png-mini, $loading-image-png, $logo, $message, $n-cart-icon, $n-cart-icon0, $p-arrange, $p-comment, $p-date-end, $p-date-start, $p-goods-type, $p-qita, $p-store-name, $p-tag, $search-lead, $search-list, $shaixuan-sel-2x, $shaixuan-2x, $sousuo-xiao-2x, $sousuo-2x, $star-active, $star, $store, $sujixinxi, $tel-active, $tel, $tip, $tousu-2x, $wushun-2x, $xiugaijiage2x, );
$spritesheet: (512px, 472px, '~sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
