$add_lead: (174.5px, 127px, -174.5px, -127px, 20.5px, 21px, 256px, 236px, "~sprite.png", "add_lead", );
$biaoshuxinxi: (242px, 0px, -242px, 0px, 14px, 16px, 256px, 236px, "~sprite.png", "biaoshuxinxi", );
$cancel-order: (90.5px, 187px, -90.5px, -187px, 18px, 18px, 256px, 236px, "~sprite.png", "cancel-order", );
$cangkuxinxi: (22px, 211px, -22px, -211px, 16.5px, 16px, 256px, 236px, "~sprite.png", "cangkuxinxi", );
$cart-icon: (204px, 105.5px, -204px, -105.5px, 34px, 25px, 256px, 236px, "~sprite.png", "cart-icon", );
$cart-icon2: (204px, 130.5px, -204px, -130.5px, 34px, 25px, 256px, 236px, "~sprite.png", "cart-icon2", );
$curday: (85px, 102px, -85px, -102px, 50px, 54px, 256px, 236px, "~sprite.png", "curday", );
$detail-driver: (211.5px, 187px, -211.5px, -187px, 17px, 17px, 256px, 236px, "~sprite.png", "detail-driver", );
$detail-evaluate: (143.5px, 187px, -143.5px, -187px, 17px, 17px, 256px, 236px, "~sprite.png", "detail-evaluate", );
$detail-expir: (242px, 72px, -242px, -72px, 13px, 13px, 256px, 236px, "~sprite.png", "detail-expir", );
$detail-info: (126.5px, 187px, -126.5px, -187px, 17px, 17px, 256px, 236px, "~sprite.png", "detail-info", );
$dingdzhuangt: (53.5px, 211px, -53.5px, -211px, 16px, 14.5px, 256px, 236px, "~sprite.png", "dingdzhuangt", );
$dispatch-driver: (108.5px, 187px, -108.5px, -187px, 18px, 17px, 256px, 236px, "~sprite.png", "dispatch-driver", );
$lead_record: (242px, 16px, -242px, -16px, 14px, 16px, 256px, 236px, "~sprite.png", "lead_record", );
$loading-image-png-mini: (204px, 0px, -204px, 0px, 38px, 39.5px, 256px, 236px, "~sprite.png", "loading-image-png-mini", );
$loading-image-png: (135px, 102px, -135px, -102px, 39.5px, 47.5px, 256px, 236px, "~sprite.png", "loading-image-png", );
$logo: (0px, 102px, 0px, -102px, 85px, 85px, 256px, 236px, "~sprite.png", "logo", );
$message: (102px, 0px, -102px, 0px, 102px, 102px, 256px, 236px, "~sprite.png", "message", );
$nCart-icon: (204px, 155.5px, -204px, -155.5px, 29.5px, 25px, 256px, 236px, "~sprite.png", "nCart-icon", );
$nCart-icon0: (174.5px, 102px, -174.5px, -102px, 29.5px, 25px, 256px, 236px, "~sprite.png", "nCart-icon0", );
$p-arrange: (48px, 187px, -48px, -187px, 24px, 24px, 256px, 236px, "~sprite.png", "p-arrange", );
$p-comment: (24px, 187px, -24px, -187px, 24px, 24px, 256px, 236px, "~sprite.png", "p-comment", );
$p-date_end: (157px, 156px, -157px, -156px, 24px, 24px, 256px, 236px, "~sprite.png", "p-date_end", );
$p-date_start: (0px, 187px, 0px, -187px, 24px, 24px, 256px, 236px, "~sprite.png", "p-date_start", );
$p-goods_type: (85px, 156px, -85px, -156px, 24px, 24px, 256px, 236px, "~sprite.png", "p-goods_type", );
$p-qita: (133px, 156px, -133px, -156px, 24px, 24px, 256px, 236px, "~sprite.png", "p-qita", );
$p-store_name: (109px, 156px, -109px, -156px, 24px, 24px, 256px, 236px, "~sprite.png", "p-store_name", );
$p-tag: (242px, 85px, -242px, -85px, 12px, 12px, 256px, 236px, "~sprite.png", "p-tag", );
$search_lead: (72px, 187px, -72px, -187px, 18.5px, 18px, 256px, 236px, "~sprite.png", "search_lead", );
$search_list: (242px, 32px, -242px, -32px, 13.5px, 13.5px, 256px, 236px, "~sprite.png", "search_list", );
$shaixuan-sel@2x: (177.5px, 187px, -177.5px, -187px, 17px, 17px, 256px, 236px, "~sprite.png", "shaixuan-sel@2x", );
$shaixuan@2x: (194.5px, 187px, -194.5px, -187px, 17px, 17px, 256px, 236px, "~sprite.png", "shaixuan@2x", );
$sousuo-xiao@2x: (242px, 45.5px, -242px, -45.5px, 13.5px, 13.5px, 256px, 236px, "~sprite.png", "sousuo-xiao@2x", );
$sousuo@2x: (160.5px, 187px, -160.5px, -187px, 17px, 17px, 256px, 236px, "~sprite.png", "sousuo@2x", );
$star-active: (242px, 107px, -242px, -107px, 10px, 10px, 256px, 236px, "~sprite.png", "star-active", );
$star: (242px, 97px, -242px, -97px, 10px, 10px, 256px, 236px, "~sprite.png", "star", );
$store: (242px, 59px, -242px, -59px, 13px, 13px, 256px, 236px, "~sprite.png", "store", );
$sujixinxi: (38.5px, 211px, -38.5px, -211px, 15px, 16px, 256px, 236px, "~sprite.png", "sujixinxi", );
$tel-active: (204px, 39.5px, -204px, -39.5px, 33px, 33px, 256px, 236px, "~sprite.png", "tel-active", );
$tel: (204px, 72.5px, -204px, -72.5px, 33px, 33px, 256px, 236px, "~sprite.png", "tel", );
$tip: (0px, 0px, 0px, 0px, 102px, 102px, 256px, 236px, "~sprite.png", "tip", );
$tousu@2x: (181px, 156px, -181px, -156px, 21.5px, 20px, 256px, 236px, "~sprite.png", "tousu@2x", );
$wushun@2x: (0px, 211px, 0px, -211px, 22px, 25px, 256px, 236px, "~sprite.png", "wushun@2x", );
$xiugaijiage2x: (85px, 180px, -85px, -180px, 30.5px, 7px, 256px, 236px, "~sprite.png", "xiugaijiage2x", );
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}
@mixin sprite-size($sprite) {
  $sprite-width: nth($sprite, 7);
  $sprite-height: nth($sprite, 8);
  background-size: $sprite-width  $sprite-height;
}
@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}
@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-size($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-repeat: no-repeat;
}
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
