$add_lead: (1.745rem, 1.27rem, -1.745rem, -1.27rem, 0.205rem, 0.21rem, 2.56rem, 2.36rem, "~sprite.png", "add_lead", );
$biaoshuxinxi: (2.42rem, 0rem, -2.42rem, 0rem, 0.14rem, 0.16rem, 2.56rem, 2.36rem, "~sprite.png", "biaoshuxinxi", );
$cancel-order: (0.905rem, 1.87rem, -0.905rem, -1.87rem, 0.18rem, 0.18rem, 2.56rem, 2.36rem, "~sprite.png", "cancel-order", );
$cangkuxinxi: (0.22rem, 2.11rem, -0.22rem, -2.11rem, 0.165rem, 0.16rem, 2.56rem, 2.36rem, "~sprite.png", "cangkuxinxi", );
$cart-icon: (2.04rem, 1.055rem, -2.04rem, -1.055rem, 0.34rem, 0.25rem, 2.56rem, 2.36rem, "~sprite.png", "cart-icon", );
$cart-icon2: (2.04rem, 1.305rem, -2.04rem, -1.305rem, 0.34rem, 0.25rem, 2.56rem, 2.36rem, "~sprite.png", "cart-icon2", );
$curday: (0.85rem, 1.02rem, -0.85rem, -1.02rem, 0.5rem, 0.54rem, 2.56rem, 2.36rem, "~sprite.png", "curday", );
$detail-driver: (2.115rem, 1.87rem, -2.115rem, -1.87rem, 0.17rem, 0.17rem, 2.56rem, 2.36rem, "~sprite.png", "detail-driver", );
$detail-evaluate: (1.435rem, 1.87rem, -1.435rem, -1.87rem, 0.17rem, 0.17rem, 2.56rem, 2.36rem, "~sprite.png", "detail-evaluate", );
$detail-expir: (2.42rem, 0.72rem, -2.42rem, -0.72rem, 0.13rem, 0.13rem, 2.56rem, 2.36rem, "~sprite.png", "detail-expir", );
$detail-info: (1.265rem, 1.87rem, -1.265rem, -1.87rem, 0.17rem, 0.17rem, 2.56rem, 2.36rem, "~sprite.png", "detail-info", );
$dingdzhuangt: (0.535rem, 2.11rem, -0.535rem, -2.11rem, 0.16rem, 0.145rem, 2.56rem, 2.36rem, "~sprite.png", "dingdzhuangt", );
$dispatch-driver: (1.085rem, 1.87rem, -1.085rem, -1.87rem, 0.18rem, 0.17rem, 2.56rem, 2.36rem, "~sprite.png", "dispatch-driver", );
$lead_record: (2.42rem, 0.16rem, -2.42rem, -0.16rem, 0.14rem, 0.16rem, 2.56rem, 2.36rem, "~sprite.png", "lead_record", );
$loading-image-png-mini: (2.04rem, 0rem, -2.04rem, 0rem, 0.38rem, 0.395rem, 2.56rem, 2.36rem, "~sprite.png", "loading-image-png-mini", );
$loading-image-png: (1.35rem, 1.02rem, -1.35rem, -1.02rem, 0.395rem, 0.475rem, 2.56rem, 2.36rem, "~sprite.png", "loading-image-png", );
$logo: (0rem, 1.02rem, 0rem, -1.02rem, 0.85rem, 0.85rem, 2.56rem, 2.36rem, "~sprite.png", "logo", );
$message: (1.02rem, 0rem, -1.02rem, 0rem, 1.02rem, 1.02rem, 2.56rem, 2.36rem, "~sprite.png", "message", );
$nCart-icon: (2.04rem, 1.555rem, -2.04rem, -1.555rem, 0.295rem, 0.25rem, 2.56rem, 2.36rem, "~sprite.png", "nCart-icon", );
$nCart-icon0: (1.745rem, 1.02rem, -1.745rem, -1.02rem, 0.295rem, 0.25rem, 2.56rem, 2.36rem, "~sprite.png", "nCart-icon0", );
$p-arrange: (0.48rem, 1.87rem, -0.48rem, -1.87rem, 0.24rem, 0.24rem, 2.56rem, 2.36rem, "~sprite.png", "p-arrange", );
$p-comment: (0.24rem, 1.87rem, -0.24rem, -1.87rem, 0.24rem, 0.24rem, 2.56rem, 2.36rem, "~sprite.png", "p-comment", );
$p-date_end: (1.57rem, 1.56rem, -1.57rem, -1.56rem, 0.24rem, 0.24rem, 2.56rem, 2.36rem, "~sprite.png", "p-date_end", );
$p-date_start: (0rem, 1.87rem, 0rem, -1.87rem, 0.24rem, 0.24rem, 2.56rem, 2.36rem, "~sprite.png", "p-date_start", );
$p-goods_type: (0.85rem, 1.56rem, -0.85rem, -1.56rem, 0.24rem, 0.24rem, 2.56rem, 2.36rem, "~sprite.png", "p-goods_type", );
$p-qita: (1.33rem, 1.56rem, -1.33rem, -1.56rem, 0.24rem, 0.24rem, 2.56rem, 2.36rem, "~sprite.png", "p-qita", );
$p-store_name: (1.09rem, 1.56rem, -1.09rem, -1.56rem, 0.24rem, 0.24rem, 2.56rem, 2.36rem, "~sprite.png", "p-store_name", );
$p-tag: (2.42rem, 0.85rem, -2.42rem, -0.85rem, 0.12rem, 0.12rem, 2.56rem, 2.36rem, "~sprite.png", "p-tag", );
$search_lead: (0.72rem, 1.87rem, -0.72rem, -1.87rem, 0.185rem, 0.18rem, 2.56rem, 2.36rem, "~sprite.png", "search_lead", );
$search_list: (2.42rem, 0.32rem, -2.42rem, -0.32rem, 0.135rem, 0.135rem, 2.56rem, 2.36rem, "~sprite.png", "search_list", );
$shaixuan-sel@2x: (1.775rem, 1.87rem, -1.775rem, -1.87rem, 0.17rem, 0.17rem, 2.56rem, 2.36rem, "~sprite.png", "shaixuan-sel@2x", );
$shaixuan@2x: (1.945rem, 1.87rem, -1.945rem, -1.87rem, 0.17rem, 0.17rem, 2.56rem, 2.36rem, "~sprite.png", "shaixuan@2x", );
$sousuo-xiao@2x: (2.42rem, 0.455rem, -2.42rem, -0.455rem, 0.135rem, 0.135rem, 2.56rem, 2.36rem, "~sprite.png", "sousuo-xiao@2x", );
$sousuo@2x: (1.605rem, 1.87rem, -1.605rem, -1.87rem, 0.17rem, 0.17rem, 2.56rem, 2.36rem, "~sprite.png", "sousuo@2x", );
$star-active: (2.42rem, 1.07rem, -2.42rem, -1.07rem, 0.1rem, 0.1rem, 2.56rem, 2.36rem, "~sprite.png", "star-active", );
$star: (2.42rem, 0.97rem, -2.42rem, -0.97rem, 0.1rem, 0.1rem, 2.56rem, 2.36rem, "~sprite.png", "star", );
$store: (2.42rem, 0.59rem, -2.42rem, -0.59rem, 0.13rem, 0.13rem, 2.56rem, 2.36rem, "~sprite.png", "store", );
$sujixinxi: (0.385rem, 2.11rem, -0.385rem, -2.11rem, 0.15rem, 0.16rem, 2.56rem, 2.36rem, "~sprite.png", "sujixinxi", );
$tel-active: (2.04rem, 0.395rem, -2.04rem, -0.395rem, 0.33rem, 0.33rem, 2.56rem, 2.36rem, "~sprite.png", "tel-active", );
$tel: (2.04rem, 0.725rem, -2.04rem, -0.725rem, 0.33rem, 0.33rem, 2.56rem, 2.36rem, "~sprite.png", "tel", );
$tip: (0rem, 0rem, 0rem, 0rem, 1.02rem, 1.02rem, 2.56rem, 2.36rem, "~sprite.png", "tip", );
$tousu@2x: (1.81rem, 1.56rem, -1.81rem, -1.56rem, 0.215rem, 0.2rem, 2.56rem, 2.36rem, "~sprite.png", "tousu@2x", );
$wushun@2x: (0rem, 2.11rem, 0rem, -2.11rem, 0.22rem, 0.25rem, 2.56rem, 2.36rem, "~sprite.png", "wushun@2x", );
$xiugaijiage2x: (0.85rem, 1.8rem, -0.85rem, -1.8rem, 0.305rem, 0.07rem, 2.56rem, 2.36rem, "~sprite.png", "xiugaijiage2x", );
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}
@mixin sprite-size($sprite) {
  $sprite-width: nth($sprite, 7);
  $sprite-height: nth($sprite, 8);
  background-size: $sprite-width  $sprite-height;
}
@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}
@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-size($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-repeat: no-repeat;
}
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
